################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HenriksHobbyLager
/HenriksHobbyLager/obj/Debug/net8.0
.vs/Code_Crasher_HenriksHobbyLager/
.vs/ProjectSettings.json
.vs/slnx.sqlite

